---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import GithubIcon from "../icons/GithubIcon.astro"
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import Experience from '../components/Experience.astro';
import MailIcon from "../icons/MailIcon.astro"
import Brief from "../icons/Brief.astro"
import Code from "../icons/Code.astro"
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import About from '../components/About.astro';
import User from "../icons/User.astro"
---

<Layout title="portfolio de Lorenzo.">
	<main class="px-4">
		<div id="home"  class="w-full lg:w-[700px] mx-auto py-44">
			<a href="/Lorenzo CV v3.pdf">
				<Badge>Download CV</Badge>
			</a>
			<h1 class="text-white mt-3 text-3xl pb-6 md:text-4xl lg:text-5xl font-bold lg:pb-10">Hey, i'm Lorenzo</h1>
			<h2 class=" text-white leading-[1.7]  max-w-[700px] text-wrap text-xl"><span class="text-yellow-200">Junior Full satack developer</span> from Rosario, Argentina. specialized in developing unique web applications </h2>
			<ul class="sm:my-0 my-5">
				<li class="flex flex-row flex-wrap  ">
					<a class="rounded-full my-2 flex justify-center items-center border border-white/10 gap-x-2 text-xs lg:text-base py-1 lg:py-2   px-3 mx-1 bgwhite/5 hover:scale-110 hover:bg-white/10 transition" href="https://github.com/lolocompa"><GithubIcon class="size-4 lg:size-6" /> Github</a>
					<a class="rounded-full my-2 flex justify-center items-center border border-white/10 gap-x-2 text-xs lg:text-base py-1 lg:py-2  px-3 mx-1 bgwhite/5 hover:scale-110 hover:bg-white/10 transition" href="https://www.linkedin.com/in/lorenzo-comparetto-1559b6262/"><LinkedinIcon class="size-4 lg:size-6"  /> LinkedIn</a>
					<a class="rounded-full my-2 flex justify-center items-center border border-white/10 gap-x-2 text-xs lg:text-base py-1 lg:py-2  px-3 mx-1 bgwhite/5 hover:scale-110 hover:bg-white/10 transition" href="mailto:lolocomparetto@gmail.com"><MailIcon class="size-6 lg:size-8"  /> lolocomparetto@gmail.com</a	
				</li>
			</ul>
		</div>
		<div id="experience" class="w-full lg:w-[700px] mx-auto">
			
			<h2 class="text-2xl font-semibold mb-6 flex items-center gap-x-3">
				<Brief/>
				Experience
			</h2>
			<Experience/>
		</div>
		<div id="projects" class="w-full lg:w-[700px] mx-auto py-44">
			
			<h2 class="text-2xl font-semibold mb-6 flex items-center gap-x-3">
				<Code/>
				Proyects
			</h2>
			<Projects/>
		</div>
		<div id="skills" class="w-full  mx-auto py-0">
			<h2 class="text-2xl font-semibold mb-10 flex items-center gap-x-3">
				<Code/>
				Skills
			</h2>
			<Skills/>
		</div>
		<div id="about" class="w-full lg:w-[700px] mx-auto py-44">
			<h2 class="text-2xl font-semibold mb-10 flex items-center gap-x-3">
				<User/>
				About Me
			</h2>
			<About/>
		</div>
	</main>
</Layout>

<style>


</style>
