

<div class="flex flex-col items-center justify-center gap-8  dark:text-gray-300 md:flex-row">
    <div     class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
        >
        <p class="text-xl">From my first "Hello World" in my debut app, I was hooked on software dev. It's more than a job—it's a thrill to level up my skills and craft top-notch software. What began as a simple intro has blossomed into a passion that only gets more exciting with time. So yeah, software dev isn't just what I do; it's my jam and my passion.</p>
    </div>
    <img src="/pic1.jpeg" alt="" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</div>